*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(213, 219, 221);
}

header {
  border: 2px solid black;
}

.sidebar-menu {
  border: 2px solid blue;
}
main {
  border: 1px solid greenyellow;
}
.sidebar {
  border: 2px solid red;
}
