@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
  display: flex;
}
a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

body {
  background-color: #e2e8f0;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(auto-fit, 1fr);
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

menu li {
  margin-bottom: 1em;
}

#list-gap {
  margin-bottom: 3em;
}

menu {
  padding: 2em;
}

header {
  gap: 10px;
  grid-area: 1 / 2 / 2 / 9;
  background-color: white;
  padding: 1em 2em 0.5em;
}

.top-head-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type="search"] {
  width: 500px;
  border-radius: 1em;
  background-color: #e2e8f0;
  border: none;
  padding: 0.5em;
}

input[type="search"]:focus {
  outline: 2px solid #1992d4;
}

#search-icon {
  margin-top: 5px;
}

#user-name {
  font-weight: bold;
}
.notification-wrapper,
.profile-wrapper,
.search-input-wrapper,
menu li > a {
  display: flex;
  align-items: center;
  gap: 1em;
}

.bottom-head-wrapper {
  display: flex;
  justify-content: space-between;
}

.profile-pic {
  border-radius: 50%;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

button {
  width: 100px;
  padding: 1em;
  border-radius: 2em;
  font-weight: bold;
  color: white;
  background-color: #1992d4;
  border: none;
  cursor: pointer;
}

.sidebar-menu {
  grid-area: 1 / 1 / 5 / 2;
  background-color: #1992d4;
}

.dashboard-title-wrapper {
  display: flex;
  align-items: center;
  color: white;
  padding: 1em;
  gap: 0.5em;
}
.dashboard-icon {
  fill: white;
}
main {
  grid-area: 2 / 2 / 5 / 9;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(4, 1fr);
  padding: 1em;
  gap: 1em;
}

.projects-wrapper {
  grid-area: 1 / 1/ 4 / 4;
}

.project-card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
  margin-top: 0.5em;
  flex: 1;
}

.project-card {
  background-color: white;
  padding: 1em;
  border-radius: 0.5em;
  border-left: 0.5em solid #f0b429;
  box-shadow: 0.3em 0.3em 0.5em gray;
}

.icons-wrapper ul {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}

.project-card-icon {
  color: black;
}
.sidebar {
  grid-area: 1 / 4/ 4 / 5;
  gap: 2em;
}

.card-wrapper {
  background-color: white;
  padding: 1.5em 1em;
  margin-top: 0.5em;
  border-radius: 0.5em;
  box-shadow: 0.3em 0.3em 0.5em gray;
}

.announcements-wrapper .card-wrapper li,
.announcements-wrapper,
.trending-wrapper,
.sidebar,
.project-card,
.projects-wrapper,
header {
  display: flex;
  flex-direction: column;
}

.announcements-wrapper .card-wrapper li:not(:last-child) {
  border-bottom: 1px solid #d2d2d2;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.project-detail-wrapper,
.announcements-wrapper,
.trending-wrapper,
.card-wrapper {
  flex: 1;
}

.project-detail,
.announcement-detail {
  color: #636363;
}

.trending-wrapper img {
  border-radius: 50%;
}

.trending-wrapper li {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-bottom: 1em;
}

.user-contribution {
  color: #636363;
}
